<header>
    <!-- Background image -->
    <div class="text-center bg-image" style = "padding-top: 50px" [ngStyle]="{ 'background-image': 'url(' + image + ')', 'height.px': 400}">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.65);">
            <div class="d-flex justify-content-center align-items-center h-100" style = "padding: 25px">
                <div class="text-white">
                    <h1 class="mb-3">Fetch</h1>
                    <h4 class="mb-3">Find images of any dog breed below!</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>