<div *ngIf="randImage">
  <app-header [image]="randImage"></app-header>
</div>

<div class="wrapper" *ngIf="dogModel && randImage">
  <div class="btn-container">
    <div style="width: 20rem">
      <ng-select class="w-20" [(ngModel)]="selectedBreed" (ngModelChange)="onSelect(selectedBreed)">
        <ng-option *ngFor="let breed of dropdown">{{breed}}</ng-option>
      </ng-select>
    </div>

    <div class="form-check form-switch" style="margin-top:0.5rem">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="showSub"
        (change)="onSubClick()">
      <label class="form-check-label" for="flexSwitchCheckDefault">Show Sub-Breeds In Dropdown</label>
    </div>

    <button class="btn btn btn-success" (click)="selectAll()" style="width: 7rem">Select All</button>

    <button class="btn btn btn-danger" (click)="reset()" style="width: 7rem">Remove All</button>
  </div>

  <div *ngIf="displayed.length == 0">
    <h2 style="text-align: center; font-weight:400; margin-top: 5rem">Start selecting breeds to create your gallery!
    </h2>
  </div>

  <div *ngIf="displayed.length > 0" style="display:flex; justify-content: space-between;">
    <h3 style="font-size:1rem; font-weight:300">Click image to shuffle</h3>
    <h3 style="font-size:1rem; font-weight:300">{{displayed.length}} dogs selected</h3>
  </div>

  <div class="card-container">
    <div *ngFor="let breed of displayed">
      <app-dogcard [breed]="breed" (delete)="onDelete($event)"></app-dogcard>
    </div>
  </div>
</div>