<div *ngIf="randImage">
  <app-header [image]="randImage"></app-header>
</div>

<div class="wrapper" *ngIf="dogModel && randImage">
  <div class="btn-container">
    <div ngbDropdown>
      <button class="btn btn-sm btn-primary" id="breeds" ngbDropdownToggle>Select Breed</button>
      <div ngbDropdownMenu="breeds">
        <div *ngFor="let breed of dropdown">
          <button ngbDropdownItem (click)="onSelect(breed)">{{ breed }}</button>
        </div>
      </div>
    </div>

    <div class="form-check form-switch" style="margin-top:0.2rem">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="showSub"
        (change)="onSubClick()">
      <label class="form-check-label" for="flexSwitchCheckDefault">Show Sub-Breeds</label>
    </div>
  </div>

  <div *ngIf="displayed.length == 0">
    <h2 style="text-align: center;">Start Selecting Breeds!</h2>
  </div>

  <div class="card-container">
    <div *ngFor="let breed of displayed">
      <app-dogcard [breed]="breed" (delete)="onDelete($event)"></app-dogcard>
    </div>
  </div>
</div>